<section class="about h-screen w-screen" >
    <div class="about_container h-[85%] w-[90%] flex justify-between gap-10 items-center">
        
        <div class="about_container_right h-full w-[50%] flex justify-center items-center">
            <ng-lottie [options]="options" ></ng-lottie>
        </div>
        <div class="about_container_left h-full w-[50%] flex justify-center items-center ">
            <div class="about_title relative ">
                <h1 class="text-white text-8xl font-REM mb-10 about_title" > {{title}} </h1>
                <p class="mb-10 text-[#c6c4c4]" > {{about}} </p>
                <button class="btn" > Our services </button>
            </div> 
        </div>
    </div>
</section>
<!-- bg-[#1a202d] -->