<section class="content-start flex flex-wrap w-full gap-6 rounded-3xl h-full overflow-y-scroll overflow-x-hidden">
  <transactioncard *ngFor="let transaction of userTransactions"
	[title]="transaction.title"
	[price]="transaction.price"
	[description]="transaction.description"
	[category]="transaction.category"
	[transactionDate]="transaction.addedOn"
	[transactionId]="transaction.transactionId"
	[roomId]="transaction.roomId"
	[groupId]="transaction.groupId"
    (onDelete)="deleteTransaction($event)"
    [isLoading]="isLoading"
  /> 
 
</section>
