<section class="transactions-section overflow-y-auto flex h-full max-w-full ">
	<div *ngFor="let transactionColumn of userTransactions" class="transactionColumn flex flex-col ">
		 <transactioncard *ngFor="let transaction of transactionColumn"
			[title]="transaction.title"
			[price]="transaction.price"
			[description]="transaction.description"
			[category]="transaction.category"
			[transactionDate]="transaction.addedOn"
			[transactionId]="transaction.transactionId"
			[roomId]="transaction.roomId"
			[groupId]="transaction.groupId"
			(onDelete)="deleteTransaction($event)"
			[isLoading]="isLoading"
		/> 
	</div>
 

</section>
