<section class="transactions-section overflow-y-scroll  h-full max-w-full ">
  <transactioncard *ngFor="let transaction of userTransactions"
	[title]="transaction.title"
	[price]="transaction.price"
	[description]="transaction.description"
	[category]="transaction.category"
	[transactionDate]="transaction.addedOn"
	[transactionId]="transaction.transactionId"
	[roomId]="transaction.roomId"
	[groupId]="transaction.groupId"
    (onDelete)="deleteTransaction($event)"
    [isLoading]="isLoading"
  /> 
  <transactioncard *ngFor="let transaction of userTransactions"
	[title]="transaction.title"
	[price]="transaction.price"
	[description]="transaction.description"
	[category]="transaction.category"
	[transactionDate]="transaction.addedOn"
	[transactionId]="transaction.transactionId"
	[roomId]="transaction.roomId"
	[groupId]="transaction.groupId"
    (onDelete)="deleteTransaction($event)"
    [isLoading]="isLoading"
  /> 
  <transactioncard *ngFor="let transaction of userTransactions"
	[title]="transaction.title"
	[price]="transaction.price"
	[description]="transaction.description"
	[category]="transaction.category"
	[transactionDate]="transaction.addedOn"
	[transactionId]="transaction.transactionId"
	[roomId]="transaction.roomId"
	[groupId]="transaction.groupId"
    (onDelete)="deleteTransaction($event)"
    [isLoading]="isLoading"
  /> 
  <transactioncard *ngFor="let transaction of userTransactions"
	[title]="transaction.title"
	[price]="transaction.price"
	[description]="transaction.description"
	[category]="transaction.category"
	[transactionDate]="transaction.addedOn"
	[transactionId]="transaction.transactionId"
	[roomId]="transaction.roomId"
	[groupId]="transaction.groupId"
    (onDelete)="deleteTransaction($event)"
    [isLoading]="isLoading"
  /> 
  <transactioncard *ngFor="let transaction of userTransactions"
	[title]="transaction.title"
	[price]="transaction.price"
	[description]="transaction.description"
	[category]="transaction.category"
	[transactionDate]="transaction.addedOn"
	[transactionId]="transaction.transactionId"
	[roomId]="transaction.roomId"
	[groupId]="transaction.groupId"
    (onDelete)="deleteTransaction($event)"
    [isLoading]="isLoading"
  /> 
  <transactioncard *ngFor="let transaction of userTransactions"
	[title]="transaction.title"
	[price]="transaction.price"
	[description]="transaction.description"
	[category]="transaction.category"
	[transactionDate]="transaction.addedOn"
	[transactionId]="transaction.transactionId"
	[roomId]="transaction.roomId"
	[groupId]="transaction.groupId"
    (onDelete)="deleteTransaction($event)"
    [isLoading]="isLoading"
  /> 
  <transactioncard *ngFor="let transaction of userTransactions"
  [title]="transaction.title"
  [price]="transaction.price"
  [description]="transaction.description"
  [category]="transaction.category"
  [transactionDate]="transaction.addedOn"
  [transactionId]="transaction.transactionId"
  [roomId]="transaction.roomId"
  [groupId]="transaction.groupId"
  (onDelete)="deleteTransaction($event)"
  [isLoading]="isLoading"
/> 
<transactioncard *ngFor="let transaction of userTransactions"
  [title]="transaction.title"
  [price]="transaction.price"
  [description]="transaction.description"
  [category]="transaction.category"
  [transactionDate]="transaction.addedOn"
  [transactionId]="transaction.transactionId"
  [roomId]="transaction.roomId"
  [groupId]="transaction.groupId"
  (onDelete)="deleteTransaction($event)"
  [isLoading]="isLoading"
/> 
<transactioncard *ngFor="let transaction of userTransactions"
[title]="transaction.title"
[price]="transaction.price"
[description]="transaction.description"
[category]="transaction.category"
[transactionDate]="transaction.addedOn"
[transactionId]="transaction.transactionId"
[roomId]="transaction.roomId"
[groupId]="transaction.groupId"
(onDelete)="deleteTransaction($event)"
[isLoading]="isLoading"
/> 
<transactioncard *ngFor="let transaction of userTransactions"
[title]="transaction.title"
[price]="transaction.price"
[description]="transaction.description"
[category]="transaction.category"
[transactionDate]="transaction.addedOn"
[transactionId]="transaction.transactionId"
[roomId]="transaction.roomId"
[groupId]="transaction.groupId"
(onDelete)="deleteTransaction($event)"
[isLoading]="isLoading"
/> 
<transactioncard *ngFor="let transaction of userTransactions"
[title]="transaction.title"
[price]="transaction.price"
[description]="transaction.description"
[category]="transaction.category"
[transactionDate]="transaction.addedOn"
[transactionId]="transaction.transactionId"
[roomId]="transaction.roomId"
[groupId]="transaction.groupId"
(onDelete)="deleteTransaction($event)"
[isLoading]="isLoading"
/> 
</section>
