<section class="h-screen w-screen flex " >
    <div class="authentication_right h-full w-[50%] bg-secondaryBlack flex justify-center items-center ">
       <ng-lottie class="h-[60%]" [options]="loginAnimation" ></ng-lottie>
    </div>
    <div class="authentication_left h-full w-[50%] center ">
        <div class="login-containerrounded-lg p-10 w-[70%] ">
            <h1 class="text-white font-REM text-center text-5xl mb-10 " > {{mode | uppercase }} </h1>

            <form-component 
                [isLoading]="isAuthenticating" 
                (onSubmit)="authenticate($event)" 
                [formTemplateData]="mode==='login'? LoginformJson : RegisterformJson" >
            </form-component>
            <div class=" mt-5 otherOptions">
                
                <ng-container *ngIf="mode==='login'; then signUpTemplate else signInTemplate" ></ng-container>

                <ng-template #signUpTemplate >
                    <span class="text-white" >Don't have an account ? 
                        <a 
                            [routerLink]="'/authenticate'"  
                            [queryParams]=" { mode:'register' } "
                            class="text-buttoncolor" 
                            >SignUp
    
                        </a>
                    </span>
                </ng-template>

                <ng-template #signInTemplate > 
                    <span class="text-white" >Already have an account ? 
                        <a 
                            [routerLink]="'/authenticate'"  
                            [queryParams]=" { mode:'login' } "
                            class="text-buttoncolor" 
                            >SignIn
    
                        </a>
                    </span>
                </ng-template>
            </div>
            
        </div>
    </div>
</section>