<div class="group transaction-card flex " >
    <div class=" p-4 font-REM h-full w-[70%] group-hover:bg-buttoncolor ">
        <h1 class="text-[#efefef] text-xl font-semibold" > {{title |truncateText |capitalizeText }} </h1>
        <div class="mt-3">
            <p class="text-gray-400" > {{category |truncateText }} </p>
            <p class="text-gray-300 mt-1 " > {{transactionDate |truncateDate }} </p>
        </div>
    </div>



    <div class="w-[30%] flex justify-center items-center h-full">
        <div class="rounded-full h-[70%] w-[70%] flex justify-center items-center  border-4 border-primaryMint ">
            <h1 class="text-white font-semibold text-lg " > ₹ {{price}} </h1>
        </div>
    </div>



</div>
