.transaction-card{
    @apply max-h-10 w-[20rem] p-4 rounded-xl bg-cardBlack shadow-small mt-5;
    max-height: 300px;
    // transition: max-height 0.7s linear;
    // &:hover{
    //     @apply h-auto flex-col items-center duration-1000;
    // }
    
}

.transaction-card.expanded{
    max-height: 1800px;
     transition: max-height 2s linear;
}

.transaction-card-topsection {
    @apply rounded-full 
    h-[5.5rem] 
    w-[25rem]
    flex 
    justify-center 
    items-center  
    border-4 
    border-primaryMint;
}

.transactionspan{
    grid-row-start: span 1;
    grid-row-end: span 4;
    grid-column-start: span 1; 
    grid-column-end: span 3;
}