<footer class="h-60 w-screen bg-buttoncolor flex" >
    <div class="footer_left h-full w-[50%] justify-center flex flex-col items-center">
        <h1 class="text-white text-7xl relative" >Credence</h1>
        <ul class=" w-full flex gap-4 justify-center items-center" >
            <li><a class="footer_nav_link" href="#hero">Hero</a></li>
            <li><a class="footer_nav_link" href="#about">About</a></li>
            <li><a class="footer_nav_link" href="#services">Services</a></li>
            <li><a class="footer_nav_link" href="">Back To Top</a></li>
        </ul>
    </div>
    <div class="footer_right h-full flex items-center w-[50%]">
        <p class="text-white text-lg" >
            Personal Project by <span>Shivasai</span> and 
            <span>Manikanta</span>. All rights reserved. Connect with us: 
            <span>shivasai45678@gmail.com</span> or
            <span>manikanta@gmail.com</span>. 
            Thank you for visiting!
        </p>
    </div>
</footer>