<section class="services h-auto mb-32 w-screen flex justify-center items-center text-white" >

    
   <div class="services_container h-[90%] w-[90%]">
    <div class="services_top">
        <h1 class="font-REM text-6xl text-center" > Managing Your Money Made Easy </h1>
    </div>
    <div class="services_bottom">
        <div class="servies_bottom_container h-full flex flex-wrap justify-around mt-28">
            <Service-card 
            [options]="addTransactionsOptions" 
            [title]="'Expense Tracker'" 
            [description]="'Easily log and manage your transactions with our intuitive interface. Keep a comprehensive list of your expenses, ensuring you stay in control of your financial records effortlessly.'"
        ></Service-card>
        <Service-card 
            [options]="splitbillTransactions" 
            [title]="'Split the Bill'" 
            [description]="'Fairly divide shared expenses with ease. Effortlessly split bills among friends and roommates, making financial sharing simple and convenient. Simplify your expense management effortlessly.'"
        ></Service-card>
        <Service-card 
            [options]="collaborationRoomsOptions" 
            [title]="'Collaborative Rooms'" 
            [description]="'Collaborate in Shared Rooms. Connect with friends or roommates by adding them to your room. Stay in the loop with transparent transaction visibility for all members. '"
        ></Service-card>
        </div>
    </div>
   </div>

    <!-- <Service-card 
    [options]="addTransactionsOptions" 
    [title]="'ExpenseTracker'" 
    [description]="'Easily log and manage your transactions with our intuitive interface. Keep a comprehensive list of your expenses, ensuring you stay in control of your financial records effortlessly.'"
    ></Service-card> -->
</section>