<form class="flex flex-col gap-4" (submit)="submitForm()">

    <input 
        [ngClass]="{
            'btn':template.type==='submit',
            'opacity-50':(isLoading.value && template.type==='submit'),
            'inputField':template.type!=='submit',
            'mt-6':template.type==='submit'
        }"
        [type]="template.type"
        [name]="template.name"
        [ngModelOptions]="{standalone: true}"
        [placeholder]="template.placeholder? template.placeholder:''"
        [required]="true"
        [disabled]="template.type==='submit'? isLoading.value : false"
        *ngFor="let template of formTemplateData" 
        [(ngModel)]="template.type==='submit'? template.value:formSubmissionData[template.name]"
    >
</form>

